.card-section{
    padding:10rem 0;


    &__container {
        width:90%;
        margin:0 auto;
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-top:10rem;
        flex-wrap: wrap;

        @include respond(phone){
            margin-top:4rem;
            justify-content: center;
        }
    }
}