.adv-content {
    width:85%;
    margin-left:auto;
    display:flex;
    flex-flow: column;
    align-items: center;
    padding:5rem 0 5rem 0;
    background-color:$color-white;
    height:100%;
    border-radius: 15px;
    box-shadow: $box-shadow;

    @include respond(tab-land){
        padding:5rem 3rem;
    }

    @include respond(tab-port){
        width:100%;
        margin:0;
        padding-top:40vh;
    }

    @include respond(phone) {
        padding-top:40vh;
    }


    &__title {
        margin-bottom:5rem;
    }

    &__desc,
    &__list {
        font-size:1.6rem;
        line-height: 1.5;
        width:80%;
        color:darken($color-grey-three, 10%);

        @include respond(tab-port){
            width:100%;
        }
    }

    &__desc {
        margin-bottom:4rem;
    }

    &__list {
        margin-bottom:8rem;

        @include respond(tab-land){
            margin-bottom:5rem;
        }
    }


}

