.card {
    margin:.5rem 0;
    background-color:$color-white;
    box-shadow:$box-shadow;
    padding:4rem;



    &--feature {
        transition:transform .5s;
        padding-top:6rem;
        text-align:center;
        border-radius: 15px;
        

        &:hover {
            transform: translateY(-1.5rem) ;
        }
    }

    &--job {

    }

    &--mvv {
        border-radius: 15px;
        padding:.6rem;
        padding-bottom:2rem;
    }

    &__mvv-title-container {
        height:10rem;
        background:$linear-gradient-main;
        display:flex;
        text-align:center;
        justify-content: center;
        align-items: center;
        border-radius: 15px 15px 0 0;
        color:$color-white;
    }

    &__mvv-desc {
        margin:2.5rem 1rem 1rem 1rem;
        color:$color-grey-three;
        text-align:center;
        font-size:1.5rem;
    }

    &__icon {
        width:13rem;
        display:inline-block;
        margin:0 auto;
        margin-bottom:2rem;

        &--devices,
        &--config{
            margin-left:2rem;
        }
    }

    &__title {
        &--feature {
            font-size:1.7rem;
            color:$color-grey-three;
            margin-bottom:3.8rem;
            position: relative;

    
            &::after {
                display:block;
                content:"";
                position: absolute;
                background-color:$color-main-green;
                width:5rem;
                height:.3rem;
                bottom:-1.8rem;
                left:50%;
                transform:translateX(-50%);
            }

        }

        &--job {

        }
    }

    &__desc {
        &--feature {
            font-size:1.3rem;
            color:lighten($color-grey-three, 8%);
        }

        &--job {

        }
    }
}