.contact {
    background-color:$color-grey-one;
    width:70%;
    margin:0 auto;
    border-radius:15px;
    box-shadow: $box-shadow;
    padding:5rem 6rem;

    @include respond(tab-port){
        width:95%;
        padding: 5rem 3rem;
    }

    &__content {
        width:100%;
        display:flex;
        margin:6rem 0;
        position:relative;

        @include respond(tab-port){
            flex-direction: column;
        }

        &::after {
            content:"";
            width:5px;
            height:10rem;
            background-color:$color-main-green;
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);

            @include respond(tab-port){
                display:none;
            }
        }
    }

    &__left,
    &__right {
        flex:0 0 50%;

        @include respond(tab-port){
            flex:0 0 100%;

        }
    }

    &__left {
        @include respond(tab-port){
            margin-bottom:5rem;
        }
    }

    &__right {
        padding-left:6rem;

        @include respond(tab-port){
            padding-left:none;
        }
    }

    &__form {
        @include respond(tab-port){
            display:flex;
            justify-content: center;
            flex-direction: column;
        }
    }

    &__form-group {
        @include respond(tab-port){
            flex:0 0 100%;
            display:flex;
            justify-content: center;
        }
    }

    &__submit {
        @include respond(tab-port){
            align-self: center;
        }
    }

    &__form-group:last-of-type {
        margin-bottom:3rem;
    }


    &__message {
        font-size:1.7rem;
        color:$color-grey-three;
        line-height: 1.6;
        margin-bottom:5rem;
    }


    &__info {
        align-items: center;
    }

    &__email,
    &__phone {
        display:flex;
    }

    &__email {
        margin-bottom:2rem;
    }

    &__info-value {
        align-self: center;
        margin-left:2rem;
        font-size:1.8rem;
        color:$color-grey-three;
         
        &--email {

        }

        &--phone {

        }
    }

    &__icon {
        width:3rem;
        height:3rem;

        &--email {
            fill:$color-main-blue;
        }

        &--phone {
            fill:$color-main-green;
        }
    }


}