.homeSlider {
    padding-left:5rem;
    position:relative;

    @include respond(phone){
        padding-left:0;
    }

    &__container{
        height:30rem;
        position:relative;

        @include respond(tab-port){
            height:50rem;
        }

        @include respond(phone){
            height: 30rem;
            margin:0 2%;
            background: $linear-gradient-invert;
            border-radius: 20px;
            box-shadow: $box-shadow;
        }
    }

    &__data {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;


        @include respond(phone){
            padding:2rem;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align:center;
        }
    }

    &__title{
        font-size:2.7rem;
        margin-bottom:3rem;

        @include respond(phone){
            color:$color-white;
            font-size:2rem;
        }
    }

    &__desc{
        font-size:1.8rem;
        font-weight: 400;
        color:$color-grey-three;
        line-height: 1.5;
        margin-bottom:3rem;

        @include respond(phone){
            font-size:1.4rem;
            line-height: 1.4;
            color: $color-grey-one;
        }
    }

    &__navigation {
        @include respond(phone){
            display:flex;
            justify-content: center;
            margin-top:3rem;
        }
    }

    &__selector {
            height:2.7rem;
            width:2.7rem;
            background-color:transparent;
            border:.4rem solid transparent;
            border-radius:50%;
            transition:all .5s;
            position:relative;
            cursor:pointer;

        &--current {
            border:.4rem solid rgba($color-main-blue, .7);
        }

        &::before {
            content:"";
            height:1.4rem;
            width:1.4rem;
            background-color:rgba($color-main-green, .7);
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);
            border-radius:50%;

            
        }

        &:hover  &::before {
            background-color:rgba($color-green-darker, .7);
        }

        &:focus{
            outline: none;
        }
    }

    &::before{
        content:"";
        position:absolute;
        width:5px;
        height:6rem;
        background-color:$color-main-blue;
        top:0;
        left:0;
        display:block;

        @include respond(phone){
            display:none;
        }
    }
}