.social{
    display:flex;
    align-items: center;
    position: absolute;
    width:13rem;
    justify-content: space-between;
    bottom:4rem;

    @include respond(phone){
        position:static;
        justify-content: center;
        width:auto;
    }

    &--home {
        margin-top:5rem;
    }

    &__icon-container {
        @include respond(phone){
            margin:0 2rem;
        }
    }

    &__link {
        display:block;
    }

    &__icon {
        height:2rem;
        width:2rem;
        transition:all .4s;

        &--home {
            fill: $color-grey-three;

            &:hover {
                fill:$color-main-blue;
            }
        }

    }   
}