@mixin clearfix{
    &::after{
        clear:both;
        content:"";
        display:table;
    }
}

@mixin respond($breakpoint){
    //600px, 900px, 1200, 1800 
    @if $breakpoint == phone{
        @media(max-width:37.5em){ @content }
    }

    
    @if $breakpoint == tab-port{
        @media(max-width:56.25em){ @content }
    }


    @if $breakpoint == tab-land {
        @media( max-width: 75em) { @content }
    }


    @if $breakpoint == big-desk {
        @media( min-width: 112.5em) { @content }
    }
}