//organize the sections of the homepage
.intro-section{
    height:100vh;
    width:100%;

    background: url('../images/home-bg.svg')top / 100% 100% no-repeat,
                url('../images/bg.png') right / cover no-repeat;
    position:relative;
    display:flex;

    @include respond(phone){
        height:90vh;
        background:$linear-gradient-main top / 100% 60%  no-repeat;
    }

    &__laptop {
        position:absolute;
        width:60rem;
        height:50rem;
        right:13%;
        top:10%;

        @media(min-width: 87.5em) and (min-height: 43.75em){
            top:15%;
            right:15%;
            width:70rem;
            height:60rem;
        }

        @include respond(tab-land){
            right:5%;
        }

        @include respond(tab-port){
            width:50%;
            top:50%;
            transform:translateY(-50%);
            right:0;
        }

        @include respond(phone){
            display:none;
        }
    }

    &__content {
        margin-left:5%;
        margin-right:auto;
        flex:0 0 37%;
        display:flex;
        position:relative;
        flex-direction: column;
        justify-content: center;

        @include respond(phone){
            flex:1;
            margin:10% 5% 0 5%;
            padding-top:5rem;
        }
        
    }
}

.card-section {
    padding-top:10rem;
}

.adv-section {
    //height: 90vh;
    overflow: hidden;
    background:url('../images/gradientDecor.svg') left top / auto 90vh no-repeat;
    padding:10rem 0;
    margin-top:5rem;

    @include respond(tab-land){
        background-size:auto 80%;
    }

    &__content {
        display:flex;
        justify-content: space-between;
        align-items: stretch;

        @include respond(tab-port){
            display: block;
            position:relative;
        }
    }



    &__left {
        flex:1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @include respond(tab-port){
            display: inline-block;
            position:absolute;
            left:50%;
            top:5vh;
            width:70%;
            height:30vh;
            transform:translateX(-50%);
        }

        @include respond(phone){
            width:90%;
            top:5%;
        }
    }

    &__right {
        flex:1;

    }

}

.job-section,
.contact-section {
    padding:6rem 0;
}

.contact-section {
    background:url('../images/gradientWave.svg') left top / 100% auto no-repeat,
                linear-gradient($color-blue-two, $color-blue-two) left bottom / 100% 50% no-repeat;
    padding-top:20rem;
    margin-top:10rem;

    @include respond(tab-port){
        background:url('../images/gradientWave.svg') left top / 100% auto no-repeat,
                linear-gradient($color-blue-two, $color-blue-two) left bottom / 100% 80% no-repeat;
    }
}

