.desc-section,
.mvv-section {
    padding:0 5%;
}

.desc-section {
    display:flex;
    align-items: center;
    padding-top:10rem;
    padding-bottom:10rem;

    @include respond(tab-port){
        flex-direction: column;
    }

    &__left,
    &__right {
        flex:1;
    }

    &__left {
        
        text-align: center;

        @include respond(tab-port){
            margin-bottom:3rem;
        }
    }

    &__right {
        
    }

    &__quote {
        font-weight: 300;
    }

    &__presentation {
        font-size:1.7rem;
        line-height: 1.4;
        color:$color-grey-three;

    }
}

.mvv-section {
    padding-top:15rem;
    padding-bottom:15rem;
    background:url('../images/bg/grey-wave.svg') top left / cover no-repeat;
    margin-top:5rem;
}