@import './abstract/variables';
@import './abstract/mixins';

@import './base/base';
@import './base/typography';
@import './base/animations';

@import './components/navbar';
@import './components/mobileNav';
@import './components/slider';
@import './components/social';
@import './components/cards';

@import './pages/home';
