@import './abstract/variables';
@import './abstract/mixins';

@import './base/base';
@import './base/typography';
@import './base/utilities';
@import './base/grid';
@import './base/animations';

@import './layout/navbar';
@import './layout/mobileNav';
@import './layout/header';
@import './layout/footer';


@import './components/button';
@import './components/slider';
@import './components/social';
@import './components/card';
@import './components/adv';
@import './components/adv-illu';
@import './components/jobGrid';
@import './components/job-box';
@import './components/contact';


@import './pages/home';
@import './pages/sobre';
@import './pages/portfolio';
@import './pages/contato';
