*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing: inherit;
}

html{
    font-size:62.5%;

    @include respond(big-desk){
        font-size:70%;
    }
}

body{
    box-sizing:border-box;
    background-color:$color-grey-one;
}

.container-big {
    margin:0 auto;
    width:90%;
}


