@font-face {
    font-family: "Montserrat";
    src: url($fonts-path + 'regular/Montserrat-Regular.eot');
    src: url($fonts-path + 'regular/Montserrat-Regular.eot#iefix') format('embedded-opentype'),
         url($fonts-path + 'regular/Montserrat-Regular.woff2') format('woff2'),
         url($fonts-path + 'regular/Montserrat-Regular.woff') format('woff'),
         url($fonts-path + 'regular/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url($fonts-path + 'italic/Montserrat-Italic.eot');
    src: url($fonts-path + 'italic/Montserrat-Italic.eot#iefix') format('embedded-opentype'),
         url($fonts-path + 'italic/Montserrat-Italic.woff2') format('woff2'),
         url($fonts-path + 'italic/Montserrat-Italic.woff') format('woff'),
         url($fonts-path + 'italic/Montserrat-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url($fonts-path + 'bold/Montserrat-Bold.eot');
    src: url($fonts-path + 'bold/Montserrat-Bold.eot#iefix') format('embedded-opentype'),
         url($fonts-path + 'bold/Montserrat-Bold.woff2') format('woff2'),
         url($fonts-path + 'bold/Montserrat-Bold.woff') format('woff'),
         url($fonts-path + 'bold/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


body{
    font-family: 'Montserrat', sans-serif;
    font-size:1.6rem;
}

a{
    text-decoration: none;
    color: $color-main-blue;
}

ul{
    list-style:none;
}

h1{
    font-size:3.2rem;
    font-weight: 700;
}