//Margins
.u-mt-medium {
    margin-top:$mp-small;
}

.u-mt-medium {
    margin-top:$mp-medium;
}

.u-mb-medium {
    margin-bottom:$mp-medium;
}

.u-mt-small {
    margin-top:$mp-small;
}

.u-mb-small {
    margin-bottom:$mp-small;
}


//Padding
.u-container-big {
    width:90%;
    margin-left:auto;
    margin-right:auto;
}
//flex positioning

.flex {
    display:flex;
}

.flex-j-end {
    justify-content: flex-end;
}

//position

.u-relative{
    position:relative;
}

.u-absolute {
    position:absolute;
}