//Margins
.u-mt-medium {
    margin-top:$mp-medium;
}

.u-mb-medium {
    margin-top:$mp-medium;
}


//Padding
.u-container-big {
    width:90%;
    margin-left:auto;
    margin-right:auto;
}
//flex positioning